
.map {

    svg {
        width:100vw;
        height: 100vh;
    }

    path {
        fill:none;
        color:#fff;
    }

    .grid {
        fill: none;
        stroke: #ccc;
        stroke-width: .5px;
        stroke-opacity: .5;
    }

    circle {
        display: none;
        stroke: black;
        fill: #f44336;
        stroke-width: 3px;
        stroke: orange;
    }

    .flight-path {
        display: none;
        stroke-width: 1px;
        stroke: orange;
    }

    .dashed {
        display: none;
        stroke-width: 1px;
        stroke-dasharray: 2;
        stroke: orange;
    }

   .arrow {
       fill: #444;
       stroke: none;
    }

    text {
        font: 10px sans-serif;
        pointer-events: none;
    }
}
