body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
    @media(max-width: 480px) {
        font-size: 12px;
    }
}

.water {
    opacity: 0;
    transition: opacity 3.5s linear;
    background-image: linear-gradient(to right, #25c481, #25b7c4);

    &-appear-done {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
